<body class="">
	<div class="wrapper ">

		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
				<div class="container-fluid">
				</div>
			</nav>
			<!-- End Navbar -->


			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<!-- Loader div starts -->
						<div class="spinner-border text-dark" style="width: 3rem; height: 3rem; margin-left: 450px; margin-top: 200px;"
							role="status" *ngIf="loader">
							<span class="visually-hidden">Loading..</span>
						</div>
						<!-- Loader div ends -->
						<div class="card" *ngIf="!loader">
							<div class="card-header">
								<h4 class="card-title"> Simple Table</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-primary">
											<th>
												Customer
											</th>
											<th>
												Dates
											</th>
											<th>
												Order Number
											</th>
											<th class="text-right">
												Complete %
											</th>
										</thead>
										<tbody>
											<tr
												*ngFor="let data of dataList | paginate: {itemsPerPage:10, currentPage:p}">
												<td>
													{{data.first_name}} {{data.last_name}}
												</td>
												<td>
													{{data.start_date}}-{{data.end_date}}
												</td>
												<td>
													{{data.order_id}}
												</td>
												<td class="text-right">
													{{data.complete_percent}}%
												</td>
											</tr>
										</tbody>
									</table><br>
									<pagination-controls (pageChange)="p = $event"
										class="float-right"></pagination-controls>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>
</body>