
<!-- Sidebar start -->

<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../../../../assets/new/img/logo-small.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            Your Logo
            <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a routerLink="/workspace">
                    <i class="nc-icon nc-bank"></i>
                    <p>WORKSPACE</p>
                </a>
            </li>
            <li>
                <a routerLink="/manage-projects">
                    <i class="nc-icon nc-diamond"></i>
                    <p>MANAGE PROJECTS</p>
                </a>
            </li>
            <li>
                <a routerLink="/new-project">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>NEW PROJECT</p>
                </a>
            </li>
            <li>
                <a routerLink="/extract">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>EXTRACT</p>
                </a>
            </li>
            <li>
                <a routerLink="/configure">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>CONFIGURE</p>
                </a>
            </li>
            <li>
                <a routerLink="/admin">
                    <i class="nc-icon nc-single-02"></i>
                    <p>ADMIN</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Sidebar end -->