.mainDiv {
	display: flex;
}

.container {
	/* flex-basis: 100px; */
	height: 400px;
	margin: 5px;
  }

.seller-auth {
	width: 50%;
	max-width: 100%;
	padding-left: 10%;
}

.form-button {
	width: 120px;
	height: 35px;
	border: 1px solid orange;
	cursor: pointer;
}

.form-input {
	height: 35px;
	margin-bottom: 20px;
	padding-left: 10px;
	border: 1px solid grey;
	color: orange;
}

.common-form {
	text-align: center;
	display: flex;
	margin: auto;
	flex-direction: column;
	width: 300px;
}

.signup {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 80px;
	color: orange;
}

.help-text {
	color: red;
	text-align: left;
	font-size: 15px;
}